src/main/wsdl/dblog-v1.0.wsdl

<?xml version="1.0"?>
<definitions name="StockQuote" xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://example.com/stockquote" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://example.com/stockquote" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<types>
		<schema targetNamespace="http://example.com/stockquote" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="TradePriceRequest">
				<complexType>
					<all>
						<element name="tickerSymbol" type="string" />
					</all>
				</complexType>
			</element>
			<element name="TradePrice">
				<complexType>
					<all>
						<element name="price" type="float" />
					</all>
				</complexType>
			</element>

			<!-- Errors -->
			<element name="InsufficientFundFault">
				<complexType>
					<sequence>
						<element name="balance" type="xsd:int" />
						<element name="requestedFund" type="xsd:int" />
					</sequence>
				</complexType>
			</element>
		</schema>

	</types>


	<message name="GetLastTradePriceInput">
		<part name="body" element="tns:TradePriceRequest" />
	</message>

	<message name="GetLastTradePriceOutput">
		<part name="body" element="tns:TradePrice" />
	</message>

	<message name="InsufficientFundFault">
		<part name="fault" element="tns:InsufficientFundFault" />
	</message>

	<message name="AnotherFault">
		<part name="fault" type="xsd:string" />
	</message>

	<portType name="StockQuotePortType">
		<operation name="GetLastTradePrice">
			<input message="tns:GetLastTradePriceInput" />
			<output message="tns:GetLastTradePriceOutput" />
			<fault name="fault" message="tns:InsufficientFundFault" />
			<fault name="fault2" message="tns:AnotherFault" />
		</operation>
	</portType>

	<binding name="StockQuoteSoapBinding" type="tns:StockQuotePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="GetLastTradePrice">
			<soap:operation soapAction="http://example.com/GetLastTradePrice" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<service name="StockQuoteService">
		<documentation>My first service</documentation>
		<port name="StockQuotePort" binding="tns:StockQuoteSoapBinding">
			<soap:address location="http://example.com/stockquote" />
		</port>
	</service>

</definitions>